@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Sayfanın %100 genişlikte olmasını zorunlu kılıyoruz */
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #0f172a; /* Arka plan rengi */
  overflow: hidden; /* Scroll'u kapatır */
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex; /* İçeriği ortalamak için */
  justify-content: center;
  align-items: center;
}